.container {
  position: fixed;
  top: -110px;
  left: -83px;
  display: flex;
  width: 300px;
  height: 300px;
  transform: scale(0.2);

  .circle {
    border-radius: 50%;
    background: #4544d6;
  }

  .large-circle {
    height: 100px;
    width: 100px;
    animation: bounce 4000ms linear infinite;
  }

  .circle-drop-container {
    position: relative;
    left: -175px;

    .circle-drop-inner {
      position: absolute;
      width: 250px;
      height: 250px;

      .circle-drop {
        position: absolute;
      }

      .circle-drop-90 {
        top: 5px;
        left: calc((250px / 2) - (90px / 2));
        height: 90px;
        width: 90px;
        animation: bounce 4000ms linear infinite;
        animation-delay: 10ms;
      }

      .circle-drop-80 {
        top: 10px;
        left: calc((250px / 2) - (80px / 2));
        height: 80px;
        width: 80px;
        animation: bounce 4000ms linear infinite;
        animation-delay: 19ms;
      }

      .circle-drop-70 {
        top: 15px;
        left: calc((250px / 2) - (70px / 2));
        height: 70px;
        width: 70px;
        animation: bounce 4000ms linear infinite;
        animation-delay: 27ms;
      }

      .circle-drop-60 {
        top: 20px;
        left: calc((250px / 2) - (60px / 2));
        height: 60px;
        width: 60px;
        animation: bounce 4000ms linear infinite;
        animation-delay: 34ms;
      }

      .circle-drop-50 {
        top: 25px;
        left: calc((250px / 2) - (50px / 2));
        height: 50px;
        width: 50px;
        animation: bounce 4000ms linear infinite;
        animation-delay: 40ms;
      }

      .circle-drop-40 {
        top: 30px;
        left: calc((250px / 2) - (40px / 2));
        height: 40px;
        width: 40px;
        animation: bounce 4000ms linear infinite;
        animation-delay: 45ms;
      }

      .circle-drop-30 {
        top: 35px;
        left: calc((250px / 2) - (30px / 2));
        height: 30px;
        width: 30px;
        animation: bounce 4000ms linear infinite;
        animation-delay: 49ms;
      }

      .circle-drop-20 {
        top: 40px;
        left: calc((250px / 2) - (20px / 2));
        height: 20px;
        width: 20px;
        animation: bounce 4000ms linear infinite;
        animation-delay: 52ms;

      }

      .circle-drop-10 {
        top: 45px;
        left: calc((250px / 2) - (10px / 2));
        height: 10px;
        width: 10px;
        animation: bounce 4000ms linear infinite;
        animation-delay: 54ms;
      }
    }
  }

  .circle-outer-container {
    position: relative;
    left: -175px;
    top: 50px;

    .circle-inner-container {
      position: absolute;
      top: 0;
      width: 250px;
      height: 250px;
      opacity: 0;
      animation: orbit 4000ms linear infinite;

      &.c-10 {
        animation-delay: 250ms;
      }

      &.c-15 {
        animation-delay: 500ms;
      }

      &.c-20 {
        animation-delay: 750ms;
      }

      &.c-25 {
        animation-delay: 1000ms;
      }

      &.c-30 {
        animation-delay: 1250ms;
      }

      .circle-spinner {
        position: absolute;
      }

      .circle-30 {
        left: calc((250px / 2) - (30px / 2));
        height: 30px;
        width: 30px;
      }

      .circle-25 {
        left: calc((250px / 2) - (25px / 2));
        height: 25px;
        width: 25px;
      }

      .circle-20 {
        left: calc((250px / 2) - (20px / 2));
        height: 20px;
        width: 20px;
      }

      .circle-15 {
        left: calc((250px / 2) - (15px / 2));
        height: 15px;
        width: 15px;
      }

      .circle-10 {
        left: calc((250px / 2) - (10px / 2));
        height: 10px;
        width: 10px;
      }

      .circle-5 {
        left: calc((250px / 2) - (5px / 2));
        height: 5px;
        width: 5px;
      }
    }
  }

  .logo-name {
    position: fixed;
    top: 450px;
    left: -103px;
    width: 320px;
    font-size: 5rem;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
  }

}

@keyframes bounce {
  0% {
    transform: scale(0.15);
  }
  7.75% {
    transform: scale(0.3);
  }
  14% {
    transform: scale(0.5);
  }
  20% {
    transform: scale(0.8);
  }
  26.25% {
    transform: scale(1);
  }
  27% {
    transform: translateY(0px);
  }
  31% {
    transform: translateY(300px);
    transition-timing-function: ease-in;
  }
  36% {
    transform: translateY(300px) scaleY(0.7) scaleX(1.3);
    transform-origin: bottom;
  }
  41% {
    transform: translateY(300px) scaleY(1) scaleX(1);
  }
  45% {
    transform: scale(1) translateY(0px);
    transition-timing-function: ease-out;
  }
  51% {
    transform: scale(0.95);
  }
  57% {
    transform: scale(0.85);
  }
  64% {
    transform: scale(0.7);
  }
  69.5% {
    transform: scale(0.5);
  }
  77.45% {
    opacity: 1;
  }
  77.5% {
    opacity: 0;
    transform: scale(0.3);
  }
  94.95% {
    opacity: 0;
    transform: scale(0);
  }
  95% {
    opacity: 1;
    transform: scale(0.05);
  }
  100% {
    transform: scale(0.15);
  }
}

@keyframes orbit {
  45% {
    opacity: 0;
  }
  46% {
    transform: rotate(0deg);
    opacity: 1;
  }
  95% {
    transform: rotate(360deg);
    transition-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    opacity: 1;
  }
  96% {
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
